body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5DEB3;
    margin: 0;
}

.game-container {
    position: relative;
    margin-top: 20px;
}

img {
    border: 2px solid #333;
    max-width: 100%;
    height: auto;
    display: block;
}

.info-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #deb887;
    border: 2px solid #555;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 400px;
    text-align: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 100;
}

.info-screen.hidden {
    display: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
}

.close-btn, .save-btn, .back-to-main-map-btn { /* Adicionado .save-btn */
    margin-top: 15px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px; /* Para espaçar os botões */
    margin-right: 5px; /* Para espaçar os botões */
}

/* Estilos para o Modal de Senha */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 200; /* Acima das info-screens */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Fundo escurecido */
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal-content input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.modal-content button#cancel-password-btn {
    background-color: #f44336;
}